 :root{ /*En el root declaramos variables*/
    --fuenteHeading: 'PT Sans', sans-serif; /*Copeamos y pegamos el codigo que viene en google fonts para CSS*/
    --fuenteParrafos: 'Open Sans', sans-serif;

    --primario: #784d3c;
    --gris: #e1e1e1;
    --blanco: #ffffff;
    --negro: #000;
    
 }

/*Estos snippets o fragmentos de codigo no deben faltar en todos nuestros proyectos*/
html { 
    box-sizing: border-box; /* No afecta a el ancho de nuestros elementos al momento de colocar un padding, borde, etc. */
    font-size: 62.5%; /*Permite agregar que 1rem= 10px*/
}

*, *:before, *:after { /* "*" es un selector universal y selecciona todos los elementos del html*/
    box-sizing: inherit; /* El inherit herada las propiedades del elemento padre que seria el html*/
}

body{ /*Lo que este adentro de las llaves del body lo va aplicar a toda la pagina web */
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 2; /*Interlineado. No se le pone unidades porque toma como base el tamaño de la fuente*/
}

/*GLOBALES (Lo que se va a utilizar mas de una vez va aqui)*/ 

.contenedor{
    max-width:120rem; /*El contenido va agarrar una ancho maximo de 1200px, mientras haya ese espacio disponible */
    width: 90%; /*Pero si es menos de esos 1200px el contenido utiliza un ancho del 90% */
    /*Otra forma de hacer lo mismo que lo anterior con una linea de codigo es width:min(90%, 120rem)*/
    margin: 0 auto; /*Centra el contenido sin flexbox*/
}

a{
    text-decoration: none; /*Quita el subrayado de los enlaces*/
}S

h1,h2,h3,h4{
    font-family: var(--fuenteHeading);
    line-height: 1.2;
}

h1{
    font-size: 4.8rem;
}

h2{
    font-size: 4rem;
}

h3{
    font-size: 3.2rem;
}

h4{
    font-size: 2.8rem;
}

img{
    max-width: 100%;
}

/*UTILIDADES (Se utilizan solo en algunos casos)*/

.no-margin{
    margin: 0;
}

.no-padding{
    padding: 0;
}

.centrar-texto{
    text-align: center;
}

/*HEADER*/

.header{
    background-image: url(../img/banner.jpg);
    height: 60rem;
    background-size: cover; /*Amplia la imagen de fondo para cubrir todo el espacio de la pantalla*/
    background-repeat: no-repeat; /*No repite la imagen de fondo */
    background-position: center center; /*Que parte de la imagen de fondo queremos que se vea. En este caso queremos que se muestre el centro de la imgen.El primer valor lo centra horizontalmente y el segundo lo centra vertical.*/
}

.header__texto{
    text-align: center;
    color: var(--blanco);
    margin-top: 5rem;
}

@media (min-width:768px){
    .header__texto{
        margin-top: 14rem;
    }
}

.barra{
    padding-top: 3rem;
}

@media (min-width:768px){
    .barra{
        display: flex;
        justify-content: space-between; /*justify-content alinea el contenido horizontalmente y space-between da un espacio entre cada elemento*/
        align-items: center; /*align-items alinea el contenido verticalmente.*/
    }
}

.logo{
    color: var(--blanco);

}

.logo__nombre{
    font-weight: 400;
}

.logo__negritas{
    font-weight: 700;
}

.navegacion__enlace{
    display: block; /*Acomoda los elementos de arriba hacia abajo*/
    text-align: center;
    font-size: 1.8rem;
    color: var(--blanco);
}

@media (min-width: 768px){
    .navegacion{
        display: flex;
        gap: 2rem;
    }
}

/*BLOG*/

@media (min-width: 768px){
    .contenido-principal{
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 4rem;
    }
}

.entrada{
    border-bottom: 1.5px solid var(--gris); /*Genera un borde en la parte de abajo del elemento*/
    margin-bottom: 2rem; /*Da un margen a la parte de abajo*/
}

.entrada:last-of-type{ /*:last-of-type modifica solo el ultimo elemento de la clase con la que estemos trabajando en este caso .entrada*/
    border-bottom: none;
    margin-bottom: 0;
}

.boton{
    display: block; /*Toma todo el espacio horizontal del contenedor mas grande en el que se encuentre ese elemento. Por esta razon acomoda los elementos de arriba hacia abajo*/
    font-family: var(--fuenteHeading);
    color: var(--blanco);
    text-align: center;
    padding: 1rem 3rem; /*Camabia el ancho de adentro hacia afuera del elemento en las 4 direcciones*/
    font-size: 1.8rem;
    text-transform: uppercase; /*Hace las letras mayusculas */
    font-weight: bolder; /* Letra en negritas */
    margin-bottom: 2rem;
    border: none;
}

.boton:hover{
    cursor: pointer;
}


@media (min-width:768px){
    .boton{
        display: inline-block; /*Solo toma el ancho de su elemento. Pero aunque quede espacio de algun lado no te permite colocar otro elemento */
    }
}
.boton--primario{
    background-color: var(--negro);

}

/*SIDEBAR*/

.boton--secundario{
    background-color: var(--primario);
}

.cursos{
    list-style: none; /*Quita las viñetas de una lista*/
}

.widget-curso{
    border-bottom: 1px solid var(--gris); /*Pone un borde visible */
    margin-bottom: 2rem;
}

.widget-curso:last-of-type{
    border-bottom: none;
    margin-bottom: 0;
}

.widget-curso__label{
    font-family: var(--fuenteHeading);
    font-weight: bold;
    font-size: 2rem;
}

.widget-curso__info{
    font-weight: 400;
}

.footer{
    background-color: var(--negro);
    margin-top: 3rem;
    padding-bottom: 2.7rem;
    
}

/*INDEX NOSOTROS*/
@media (min-width: 768px) {
    .sobre-nosotros{
     display: grid;
     grid-template-columns: 1fr 1fr;
     column-gap: 3rem;
    } 
 }

/*INDEX CURSO*/

@media (min-width: 768px) {
    .curso{
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 3rem;
    }
}

.curso{
    border-bottom: 1px solid var(--gris); /*Pone un borde visible */
    margin-bottom: 3rem;
}

.curso:last-of-type{
    border-bottom: none;
    margin-bottom: 0;
}

.curso__label{
    font-family: var(--fuenteHeading);
    font-weight: bold;
    font-size: 2rem;
}

.curso__info{
    font-weight: 400;
}

/*INDEX CONTACTO*/

.contacto-bg{
    background-image: url(../img/contacto.jpg);
    height: 40rem;
    background-size: cover;
    background-repeat: no-repeat;
}

.formulario{
    background-color: var(--blanco);
    margin: -5rem auto 0 auto;/*Se puede poner valores negativos a los margenes. Lo que hara que el margen se aplique al lado contario de donde se aplico (En este caso se aplico para hacer una separacion arriba del formulario, pero como lo pusimos negativo el margen lo aplicara abajo del formulario). Arriba derecha abajo izquierda. */ 
    width: 95%;
    padding: 5rem;
}

.campos{
    display: flex;
    margin-bottom: 2rem;
    gap: 2rem;
}

.campos__label{
    flex-basis: calc(9rem);
    text-align: right;
}

.campos__field{
    flex: 1;
    border: 1px solid var(--gris);
}

.campos__field--textarea{
    height: 20rem;
}